body {
    font-family: "Helvetica", sans-serif;
    background-color: #F7C5BB;

}


.hello {
  font-style: oblique;
  background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.textTwo{
  font-size: large;
}

#obj1 {
    font-size: medium;

}

#obj2 {
  font-size: medium;}


  #obj3{
    font-size: medium;
  }
